
# CSV files
*.csv

# Logs
/log
slim_gsgp/log/

# Python cache
*.pyc
__pycache__/

# IDE
.DS_Store
.idea/
.vscode/

# Virtual environment
.venv/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/
